
header {
    background-color: #2F5496;
    font-style: normal;
    margin-bottom: 10px;
}
    h1 {
        font-size: 80px;
    }
    h2 {
        font-size: 40px
    }

main {
    background-color: gray;
    font-style: normal;
}

footer {
    background-color: #2F5496;
    font-style: normal;
    margin-top: 10px;
}
body{
    padding: 30px;
}