/*Body en background image is juist.*/
.background_image{
    height: 100px;
    background-image: url("header.jpg");
    background-repeat: no-repeat;
}
body{
    font-size: 1em;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.articles {
    font-size: 1.3em;
    text-underline: #0563C1;
    margin: 5px;
    text-decoration-line: underline;
}
.nature_blog {
    font-size: 1.7em;
    color: white;
}
article {
    background-color: darkgrey;
    margin-bottom: 5px;
}
nav {
    background-color: grey;
}
.links_bovenaan {
    color: lawngreen;
}


