
.checked {
    background-image: url(https://w7.pngwing.com/pngs/697/297/png-transparent-checkbox-icon-checkbox-button-tick-box-angle-text-triangle-thumbnail.png) ;
    background-size: 1em;
    background-repeat: no-repeat;
    background-position: 0em;


}
.checklist {
    margin-left: 3em;
}