#bovenste_drinks {
    font-size: 0.8em;
    display: flex;
    justify-content: center;
}
#weekly_specials{
    float: right;
    display: flex;
    justify-content: right;
}

#rest{
    width: 70%;
}

#header1 {
    color: #007e7e;
    font-size: 150%;
}

#header2 {
    color: #007e7e;
    font-size: 130%;
}

#footer {
    font-size: 50%;
}

#Claude_vet {
    font: bold;
}
#Buddha_captions {
    font: caption;
}

.gewone_letters {
    font-size: 1.2em;
    font-style: italic;
}
