div {
	text-align:center;
	vertical-align: middle;
	line-height: 50%;
}
/*
Opdracht 3
text-align: center is de reden waarom de tekst horizontaal gecentreerd staat.
vertical-align heeft geen effect omdat alles al gecentreerd staat.
Vertical-align: middle zorgt ervoor dat de background en alles in het
verticale midden van het block wordt gecentreerd.
Line-height: 50% is een manier om tekst te centreren.
vertical-align (heeft enkel effect op inline-elementen): center is om meerdere regels te centreren.
Waarom tall voorrang? Omdat hij pas later in de code staat.

Display:table-cell; is beste
*/

.area {
	width:100px;
	height: 100px;
	background:red;
	display:inline-block;
} /*
Opdracht 1
block is naast elkaar, inline is naast elkaar en inline-block is naast en onder elkaar.
Bij 20 px width en height verandert het niets.
Laatste vraag nog beantwoorden.

Opdracht 2
lege ruimtes = doordat in de html pagina de divs onder elkaar staan.
Moesten ze naast elkaar staan worden de witruimtes weggelaten.
*/

.tall {
	height:150px;
}


.short {
	height:50px;
}

.floaty{
	float:left;
	background:green;
}

.break {
	clear:both;
	background:blue;
}