body {
    font-style: initial;
    font-size: 1.1em;
    background-color: silver;
    color: red;
}
h1 {
    font-variant: all-small-caps;
    background-color: red;
}
a:hover {
    background-color: white;
}
.stippeltjesrand {
    border-style: dashed;
    border-width: 1px;
}