h1 {
    color: red;
    background-color: lightgreen;
    font-style: italic;
}
h2 {
    font-style: oblique;
    text-decoration-line: underline;
    margin-bottom: 2em;
}

h4 {
    color: darkblue;
    font-size: 1.1em;
}

a{
    text-decoration-line: none;
    margin-bottom: 10em;
}