

.caption {
    font-family: helvetica;
    font-size: 16px;
    margin-top: 12px;
}

.gridHeader {
    background-color: #dcd6fe;
    grid-area: header;
}

.gridNav {
    background-color: #c6c0ff;
    grid-area: navigation;
}

.gridMain {
    background-color: #f9f6d2;
    grid-area: main;
}

.gridAside {
    background-color: #d4ffd1;
    grid-area: aside-1;
}

.gridFooter {
    background-color: #ffd1d1;
    grid-area: footer;
}
body.grid {
    display: grid;
    grid-template-areas: 'header' 'navigation' 'main' 'aside-1' 'footer';
    grid-row-gap:1px;
    grid-column-gap:1px;
    font-size:2.5em;
    text-align: center;
    grid-template-columns: 100%;
}
@media screen and (min-width: 786px) {
    .grid {

    }

}